body{
    margin: 0;
}

header{
    background-color: blue;
    background-image: url(img/pattern.png);
    background-repeat: repeat;
    height: 180px;
}

.logo{
    width: 20%;
    padding-top: 5%;
}

h1{
    font-size: 60px;
    margin-bottom: 5px;
}

.referenza{
    color: gray;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 0px;
}
#referenzanome{
    color: blue;
}

.data{
    color: gray;
    margin: 0px;
}

figure{
    margin-left: 0;
    padding-bottom: 0px;
}

figcaption{
    padding:0px;
    
}
.didascalia{
    padding:0px;
    margin: 0px;
}
.testo{
    font-size: 20px;

}

.testo-evidenziato{
    background-color: yellow;
}

.lista{
    padding-left: 20px;
    font-size: 18px;
}

th{
   background-color: blue;
   color: white;
}
.tabella1{
    background-color: aqua;
}
.tabella2{
    background-color: white;
}
td{
    width: 30%;
}
.footer{
    color: gray;
    font: 20px;
}